body {
    font-family: "Arial";
    font-size: 2em;
    background: white;
    color: black;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 850px;
    text-align: center;
    width: 80%;}

section {
    margin-bottom: 2em;
    font-size: 200%;
    margin: .25em;}

span {
    display: block;
    margin-top: 1.5em;}

a:link, a:hover, a:visited, a:active { text-decoration: none; }

/* Sound controls */
.play{ color: green; }
.play:after { content: "⊕"; }

.mute { color: red; }
.mute:after { content: "⊗"; }