<html>  
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"></link>
    <title>The lift</title>
  </head>
  
  <body>
      <section>
        <a id="play_status" class="play" href="#"></a>
        <span id="shit">WELCOME TO THE LIFT</span>
      </section>
      <span id="footer">&copy; {{ year }} | Samuele Mattiuzzo</span>
      
      <audio>
        <!-- used as a sentinel -->
        Your browser does not support audio elements.
      </audio>
  </body>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script type="text/javascript">
    var things = {{ things|safe }},
        audio_things = {{ audio_things|safe }};
    talking_lift();
  </script>
</html>
